.features-page {
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: featuresBG 8s infinite alternate;
  margin-top: 80px;
  position: relative;
  padding: 40px;
}

@keyframes featuresBG {
  0% { background-image: url("../assets/Images/bg5.jpg"); }
  100% { background-image: url("../assets/Images/bg6.jpg"); }
}

.features-container {
  max-width: 700px;
  color: white;
}

.features-container h1 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
}

.features-container h2 {
  font-size: 1.7rem;
  font-family: "Playfair Display";
  margin-top: 20px;
}

.features-container p, ul li {
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: "Georgia", serif;
}

.closing {
  margin-top: 20px;
  opacity: 0.9;
  font-style: italic;
}


.features-bike {
  position: absolute;
  bottom: 20px;
  left: -200px;
  height: 90px;
  animation: bikeDrive 8s linear infinite;
}

@keyframes bikeDrive {
  0% { transform: translateX(-250px); }
  100% { transform: translateX(1400px); }
}
