@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;600;700;900&display=swap");


* {
  font-family: "Montserrat", "Poppins", sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
}


body {
  overflow-x: hidden;
  background-color: #000;
}

a {
  text-decoration: none;
}
